.footerContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  color:rgb(67, 67, 67);
}
.footerContainer a, p{
  color:rgb(123, 123, 123);
  text-decoration: none;
  font-size: 12px;
}
